.nav{
    grid-area: n;
    background-color: saddlebrown;
    padding: 20px;
    /*margin: 5px;*/

}
.item a{
    color: honeydew;
    text-decoration: none;
}
.item a.activeLink{
    color: limegreen;
}