.nav{
    grid-area: n;
    background-color: darkseagreen;
    padding: 20px;
    /*margin: 5px;*/

}
.item a{
    color: black;
    text-decoration: black;
}
.item a.activeLink{
    color: aliceblue;
}