.app-wrapper{
  display: grid;
  width: 1200px;

  grid-template-areas:
  "h  h"
  "n  c";

  grid-template-rows: 60px 1fr;
  grid-auto-columns: 150px 10fr;
  grid-gap: 7px;
  margin-left: 145px;

}

.app-wrapper-content{
  grid-area: c;
  background-color: honeydew;
}



